@font-face {
  font-family: "Neulis Sans";
  src: url("./assets/fonts/neulis-sans.otf") format("opentype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* =========================================
   GLOBAL RESET
========================================= */

html,
body,
#root {
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

/* =========================================
   GLOBAL FONT
========================================= */

html,
body,
#root,
button,
input,
textarea,
select,
option {
  font-family: "Neulis Sans", sans-serif;
}

/* =========================================
   HTML
========================================= */

html {
  scroll-behavior: smooth;
}

/* =========================================
   BODY
========================================= */

body {
  min-height: 100vh;
}